<mat-card class="hintergrund">
  <div class="flex">
    <div>
      <h6 class="überschrift">{{'Kapazitätsplanung' | translate}}</h6>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button class="info" (click)="openDialog()">
      <mat-icon class="icon">info</mat-icon>
      </button>
 </div>
    <table #tableEnd mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Arbeitsplatz Column -->
        <ng-container matColumnDef="arbeitsplatz">
            <th mat-header-cell *matHeaderCellDef> {{'Arbeitsplatz' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.arbeitsplatz}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="kapa_bedarf">
            <th mat-header-cell *matHeaderCellDef> {{'Kapazitätsbedarf' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.kapa_bedarf}} </td>
        </ng-container>
        

          <!-- Weight Column -->
          <ng-container matColumnDef="ruest_new">
            <th mat-header-cell *matHeaderCellDef> {{'Rüstzeit' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ruest_new}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="kapa_old">
            <th mat-header-cell *matHeaderCellDef> {{'Warteschlange Kapazitätsbedarf' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.kapa_old}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ruest_old">
            <th mat-header-cell *matHeaderCellDef> {{'Warteschlange Rüstzeit' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ruest_old}} </td>
          </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="kapa_gesamt">
              <th mat-header-cell *matHeaderCellDef> {{'Kapazitätbedarf Gesamt' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.kapa_gesamt}} </td>
            </ng-container>

              <!-- Symbol Column -->
          <ng-container matColumnDef="anzahl_schichten">
            <th mat-header-cell *matHeaderCellDef> {{'Anzahl Schichten' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.anzahl_schichten}} </td>
          </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="ueberstunden_min_tag">
              <th mat-header-cell *matHeaderCellDef> {{'Überstunden Minuten pro Tag' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.ueberstunden_min_tag}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="zusatz_ueberstunden">
                <th mat-header-cell *matHeaderCellDef> {{'Zusatzminuten pro Tag' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <input matInput type="number" min="0" step="1" placeholder="0" [ngModelOptions]="{updateOn: 'blur'}" [(ngModel)]=element.zusatz_ueberstunden
                  (ngModelChange)="change($event, element.arbeitsplatz)">
                </td>
              </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</mat-card>


        <p>&nbsp;</p>
        <a routerLink="/mengenplanung" (click)="speichern()" class="blue-button"> {{'Speichern' | translate}} & {{'Weiter' |translate}} </a>
        <p>&nbsp;</p>	
    	<p>&nbsp;</p>

