<h1 mat-dialog-title><b>Das müssen Sie beachten:</b></h1>
<mat-dialog-content class="mat-typography">
    <h3>Reihenfolgenplanung</h3>
    <p>
        Um die Reihenfolge der Produktionsaufträge zu planen, müssen Sie einfach per Drag and Drop die Aufträge innherhalb der Tabelle verschieben. <br>
        Bei loslassen des Auftrags wird der Auftrag an die gewünschte Stelle eingereiht und die restlichen Aufträge nach oben und unten priorisiert.
    </p>

    <h3>Losgrößensplitting</h3>
    <p>
        Um die Losgrößen zu splitten, müssen Sie einfach die gewünschte Splitgröße in das Feld "Aufteilen" eintragen. Diese Menge wird dann vom <br>
        Gesamtauftrag abgezogen und ans Ende der Tabelle angehängt. Sie können Aufträge so oft Sie wollen splitten. 0er Aufträge werden automatisch <br>
        vom System gelöscht. Dadurch versichern wir Ihnen eine konsistente XML-Output Datei.
    </p>
</mat-dialog-content>
