  .container {
    width: 90%;
    display: table;
    margin: 40px auto;
    padding-top: 100px auto;
    padding-bottom: 100px auto;
  }
  
  .text {
    text-align: justify;
  }
  
  .green {
    color: #00BCD4;
  }
 
  .box{
    width: 330px;
    height: 200px;
    display: flex; 
    justify-content: center;
    float:left; 
    margin-right: 30px;
    box-shadow: 5px 5px rgb(148, 200, 207);
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 40px;
  }

  .box .content{
    width: auto;
    
  }

  .blue-button {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #00BCD4;
    color: white;
    background-color: #00BCD4;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    cursor: pointer;
  }
  
  .blue-button:hover {
    text-decoration: underline;
  }

  img{
    float: left;
    height: 60px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 22px;
}

  .image1{
    float:right;
    height: 500px;
    width: 500px;
    margin-right: auto;
  }
 
  .row{
    display: flex;
  }

  .column{
    float: left;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
  }

  .h1{
    text-align: center;
  }

  .logo{
    text-align: center;
    color: #FFC045;
    font-size: 30px;
  }

  .row3{
    display: flex;
    justify-content: center;
  }

  .image_small{
    display: inline-block;
    min-height: 400px;
    min-width: 400px;
    margin: 0 5px;
  }
