<button mat-raised-button class="info" (click)="openDialog()">
	<mat-icon class="icon">info</mat-icon>
  </button>

<h6 class="überschrift">{{'Mengenplanung' | translate}}</h6>
<!-- Prognosen -->
<mat-card class="hintergrund-prognose">
     <p>{{'Prognosen Produktionsprogramm' | translate}}</p>
         <table #tableEnd mat-table [dataSource]="dataSourceProg" class="mat-elevation-z8">
 
            <!-- Artikelnummer -->
            <ng-container matColumnDef="artikelnummer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Artikelnummer' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.artikelnummer}} </td>
            </ng-container>

             <!-- Prognose 1  -->
             <ng-container matColumnDef="prog1">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Prognose' | translate}} 1</th>
               <td mat-cell *matCellDef="let element"> <input  type="number" placeholder=" {{element.prog1}} " step="10" min="0"></td>
             </ng-container>
         
             <!-- Prognose 2 -->
             <ng-container matColumnDef="prog2">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Prognose' | translate}} 2</th>
               <td mat-cell *matCellDef="let element"> <input  type="number" placeholder=" {{element.prog2}} " step="10" min="0"></td>
             </ng-container>
         
             <!-- Prognose 3 -->
             <ng-container matColumnDef="prog3">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Prognose' | translate}} 3</th>
               <td mat-cell *matCellDef="let element"> <input  type="number" placeholder=" {{element.prog3}} " step="10" min="0"></td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumnsProg"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumnsProg;"></tr>
           </table>
           <br>
 </mat-card>

<!-- Bestellungen -->
<mat-card class="hintergrund">

  <p>{{'Bestellungen' | translate}}</p>

        <table #tableEnd mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Teilenummer -->
            <ng-container matColumnDef="teilenummer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Teilenummer' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.teilenummer}} </td>
            </ng-container>
        
            <!-- Lieferfrist -->
            <ng-container matColumnDef="lieferfrist">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Lieferfrist' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.lieferfrist}} </td>
            </ng-container>
        
            <!-- Abweichung -->
            <ng-container matColumnDef="abweichung">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Abweichung' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.abweichung}} </td>
            </ng-container>

            <!-- Diskontmenge -->
            <ng-container matColumnDef="diskontmenge">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Diskontmenge' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.diskontmenge}} </td>
            </ng-container>

            <!-- Anfangsbestand -->
            <ng-container matColumnDef="lagerbestand">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Lagerbestand' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.lagerbestand}} </td>
            </ng-container>

            <!--Bedarf Periode 1-->
            <ng-container matColumnDef="bedarf_Periode1">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Bedarf aktuelle Periode' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.bedarf_Periode1}} </td>
            </ng-container>

            <!-- Bestellmenge -->
            <ng-container matColumnDef="bestellmenge">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Bestellmenge' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <input  type="number" placeholder=" {{element.bestellmenge}} " step="10" min="0" [(ngModel)]="element.bestellmenge" (ngModelChange)="bestellung($event, element.teilenummer)">
                </td>
            </ng-container>
        
            <!-- N/E -->
            <ng-container matColumnDef="ne">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Normalbestellung(4)/ Eilbestellung(5) </th>
                <td mat-cell *matCellDef="let element">
                  <input  type="string" placeholder=" {{element.ne}} " [(ngModel)]="element.ne" (ngModelChange)="bestellart($event, element.teilenummer)">
                </td>
            </ng-container>

            <!--Sicherheitsbestand Periode 1 / 1-3-->
            <ng-container matColumnDef="sicherbestand">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Sicherheitsbestand aktuelle Periode' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.sicherbestand}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
</mat-card>

<p>&nbsp;</p>
   <a routerLink="/losgroessensplitting" (click)="speichern()" class="blue-button"> {{'Speichern' | translate}} & {{'Weiter' | translate}} </a>
<p>&nbsp;</p>	
<p>&nbsp;</p>