<h1 mat-dialog-title><b>Verwendete Formeln</b></h1>
<mat-dialog-content class="mat-typography">
  <h3><u>Fertigungsprodukte</u></h3>
  <p>
    <b>Produktionsprogramm E</b> = Vertriebswunsch + Bedarf + geplanter Endbestand - aktueller Lagerbestand - Aufträge in Bearbeitung - Aufträge in Warteschlange<br>
    <small>
      <img class="info1" src="../../../assets/pictures/Info.png" alt="">
      Der Vertriebswunsch und der Bedarf werden durch den Übertrag aus dem übergeordneten Produkt der Stückliste eingetragen. Der Vertriebswunsch errechnet sich 
      aus dem Produktionsprogramm, wohingegend der Bedarf sich aus den in Warteschlange befindlichen Teile errechnet. 
    </small><br>
  </p>
</mat-dialog-content>
