.blue-button {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #00BCD4;
    color: white;
    background-color: #00BCD4;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    text-decoration: none;
  }
  
  .blue-button:hover {
    text-decoration: underline;
  }

  .überschrift {
    font-size: x-large;
    margin-left: 100px;
    margin-top: 50px;
  }

  table {
    box-shadow: 2px lightgrey;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px lightgrey;
    box-shadow: 2px 3px 8px lightgrey;
    padding: 10px;
  }

  .hintergrund{
    margin-left: 100px;
    margin-right: 100px;
  }
  
  p {
    font-size: large;
    text-align: left;
    padding-left: 20px;
  }
  
  input {
    width: 65%;
    margin-left: 5px;
  }
  
  .eingabetabelle1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    margin-bottom: 40px;
  }

  .info{
    background-color: white;
    height: 40px;
      width: 40px;
      float: right;
    margin-right: 100px;
    padding-top: 22px;
    }
  
    .icon{
    color: #00BCD4;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    }
